<h1> Edit Shelter Listing </h1>

<form action='/shelters/<%= @shelter.id %>' method='post'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p> Enter the following information: </p>
  <input type ='text' name = 'shelter[name]' value = "<%= @shelter.name %>"/><br/>
  <input type ='text' name = 'shelter[address]'value = "<%= @shelter.address %>"/><br/>
  <input type ='text' name = 'shelter[city]' value = "<%= @shelter.city %>"/><br/>
  <input type ='text' name = 'shelter[state]' value = "<%= @shelter.state %>"/><br/>
  <input type ='text' name = 'shelter[zip_code]' value = "<%= @shelter.zip_code %>"/><br/>
  <input type='submit' value='Submit'/>
</form>
