<h1> All Pets</h1>

<% @pets.each do |pet| %>
  <p> <%= pet.image %></p>
  <h2> <%= pet.name %></h2>
  <p> <%= pet.approximate_age %></p>
  <p> <%= pet.sex %></p>
  <p> <%= pet.shelter_name %> </p>
<% end %>
