<% @pets.each do |pet| %>
  <p><%= image_tag("#{pet.image_url}", {:style => "width:250px;"}) %></p>
  <h2> <%= pet.name %></h2>
  <p> <%= pet.approximate_age %></p>
  <p> <%= pet.sex %></p>
  <p> <%= pet.shelter.name %></p>
  <p><%= link_to 'Edit Pet', "/pets/#{pet.id}/edit" %></p>
  <p><%= link_to 'Delete Pet', "/pets/#{pet.id}", method: :delete %></p>
<% end %>
