<h1>Pets At This Shelter</h1>

<% @pets.each do |pet| %>
  <%= image_tag("#{pet.image_url}", {:style => "width:250px;"}) %>
  <h2> <%= pet.name %></h2>
  <p> <%= pet.approximate_age %></p>
  <p> <%= pet.description%></p>
  <p> <%= pet.sex %></p>
  <% if pet.is_adoptable %>
   <p>Adoptable</p>
  <% else %>
   <p>Adoption Pending</p>
  <% end %>
  <%= link_to 'Edit Pet', "/pets/#{pet.id}/edit" %>
  <%= link_to 'Delete Pet', "/pets/#{pet.id}", method: :delete %>
<% end %>

<%= link_to 'Add New Pet for Adoption', "/shelters/#{@shelter.id}/pets/new" %>
