<h1> <%= link_to 'All Pets', "/pets" %> </h1>
<p><%= @pet.image %></p>
<p><%= @pet.name %></p>
<p><%= @pet.description %></p>
<p><%= @pet.approximate_age%></p>
<p><%= @pet.sex %></p>
<% if @pet.is_adoptable %>
 <p>Adoptable</p>
<% else %>
 <p>Adoption Pending</p>
<% end %>

<%= link_to 'Edit Pet', "/pets/#{@pet.id}/edit" %>

<%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
